/* write your css here */
label{
    color:rgb(51, 121, 182) !important;
    
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color:rgb(179, 57, 57) !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
 color:rgb(199, 68, 68) !important;
 
}